.EmployerItem {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
.parentFilter{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: absolute;
    right: 0;
}

.filters {
    margin-right: 10px;
    padding: 5px 10px;
    position: relative;
    display: inline-block;
}

.hamburgerIcon {
    font-size: 30px;
    cursor: pointer;
    position: relative; 
}

.dropdown-menu {
    position: absolute; 
    top: 100%; 
    right: 0; 
    width: 200px;
    color: white;
    padding: 10px;
    z-index: 1000;
    border-radius: 20px;
    background: #242424;
    box-shadow: 11px 11px 44px #0f0f0f
}

  
.dropdown-menu button {
    display: block;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 5px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-menu button:hover{
    display: block;
    color: rgb(255, 149, 0);
    width: 100%;
    padding: 5px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


