.EmployerItem {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
.filters {
    margin-right: 10px;
    padding: 5px 10px;
    float: right;
    position: static;
}



