.read-the-docs {
  color: #888;
}

.NavigationBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  overflow: auto;
}

.LandingPage{
  top: 0;
  left: 150px;
  right: 0;
  position: fixed;
  overflow-y: auto;
}

.mainScreen{
  overflow-y: scroll;
}

